.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 500px;
    margin: 15px auto;
    background-color: #1E90FF;
    border-radius: 10px;
    padding: 10px;
    border-color: #191970;
}

.title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.commentForm {
    margin-top: 2rem;
}

.formGroup {
    margin-bottom: 1rem;
}

.formControl {
    margin: auto;
    display: block;
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #191970;
    background-color: #E0FFFF;
    background-clip: padding-box;
    border: 1px solid #191970;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControlNum {
    margin: auto;
    display: block;
    width: 17%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #191970;
    background-color: #E0FFFF;
    background-clip: padding-box;
    border: 1px solid #191970;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControl:focus {
    color: #191970;
    background-color: #E0FFFF;
    border-color: #191970;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.errorMessage {
    color: #DC143C;
    font-size: 0.8rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    text-shadow: #191970;
}

.submitButton {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #AFEEEE;
    background-color: #0000FF;
    border: 1px solid #191970;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submitButton:hover {
    color: #E0FFFF;
    background-color: #4169E1;
    border-color: #191970;
}

.submitButton:disabled {
    color: #AFEEEE;
    background-color: #7B68EE;
    border-color: #191970;
}

.submitButton:not(:disabled):not(.disabled):active {
    color: #AFEEEE;
    background-color: #0062cc;
    border-color: #191970;
}

.submitButton:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #191970;
    outline: 0;
}

.submitButton:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem #191970;
    outline: 0;
}